azure_subscription_id = "00000000-0000-0000-0000-000000000000"
azure_location        = "Sweden Central"

project_name = "project"

instances = [
  "alpha",
  "bravo",
  "charlie",
]

# Password must have 3 of the following: 1 lower case character, 1 upper case character, 1 number, and 1 special character
# The value must be between 12 and 72 characters long
vm_admin_password_suffix = "-EXAMPLE123456"

vm_sku = "Standard_B2s"

vm_allowed_ssh_ips = [
  "1.2.3.4",
]
